body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

.container {
    width: 400px;
    height: 500px;
    border: 2px solid #0056b3;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.icon-top {
    width: 60px;
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
}

.question {
    font-size: 2em;
    color: #0056b3;
    margin-bottom: 20px;
    text-align: left;
}

.question-box {
    height: 180px;
    width: 100%;
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    font-size: 1.2em;
    box-sizing: border-box;
    text-align: left;
}

.answer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.answer-box {
    width: 100px;
    height: 100px;
    background: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.answer-box:hover {
    background-color: #003d80;
}

.icon-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
}

