body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.container {
    width: 400px;
    height: 600px;
    border: 2px solid #0056b3;
    border-radius: 15px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.icon-top {
    width: 60px;
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
}

.question {
    font-size: 2em;
    color: #0056b3;
    margin-bottom: 20px;
    text-align: left;
}

.question-box {
    height: 180px;
    width: 100%;
    padding: 20px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    font-size: 1.2em;
    box-sizing: border-box;
    overflow-y: auto; /* 긴 질문에 대비해 스크롤바 추가 */
}

.answer-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 버튼 사이 간격 조정 */
}

.answer-button {
    width: 100%;
    height: 50px;
    background-color: #0056b3;
    color: #fff;
    border: 2px solid #0056b3;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.answer-button:hover {
    background-color: #003d80;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 60px;
}
